
<div class="container">
    <h1 style = "text-align:center" >Profile Details </h1>
    <p style = "text-align:center">Name: <%= @user.username %></p>
    <p style = "text-align:center">Email: <%= @user.email %></p>

</div>




